@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
	--font-family: "Manrope", sans-serif;

	--gradient-text: linear-gradient(89deg, rgba(55, 134, 167, 1) 0%, rgba(1, 227, 192, 1) 50%, rgba(81, 213, 146, 1) 100%);
	--gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

	--color-bg: #040c18;
	--color-footer: #031b34;
	--color-blog: #042c54;
	--color-text: #81afdd;
	--color-subtext: #ff8a71;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
